.row-header{
    margin: 0 auto;
    padding: 0 auto;
}

.row-content{
    margin: 0 auto;
    padding: 50px 0px 50px 0px;
    min-height: 300px;
    border-bottom: 1px ridge;
}

.footer{
    background-color: #d1c4e9;
    margin: 0 auto;
    padding: 25px 0px 25px 0px;
}

.jumbotron{
    padding: 70px 30px;
    margin: 0 auto;
    background-color: #9575cd;
    color: floralwhite;

}

address{
    font-size: 80%;
    margin: 0;
    color: #0f0f0f;
}
body{
    padding-top: 50px;
    z-index: 0;
}

.navbar-dark{
    background-color: #521da8;
}